<% provide(:title, 'Register') %>

<div class="form-container">
  <h1>Register</h1>

  <%= form_for @user do |f| %>
      <div class="error-zone">
          <% if @user != nil && @user.errors.any? %>
              <div id="error_explanation">
                  <h2>
                      Please solve <%= pluralize(@user.errors.count, "error") %> to register:
                  </h2>
                  <ul>
                      <% @user.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                  </ul>
              </div>
          <% end %>
      </div>

      <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.label :email %><br />
          <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <div class="form-group">
          <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
