<% provide(:title, "Detail") %>

<div class="image-presenter">
    <%= image_tag "/uploads/#{@picture.path}" %>
</div>

<br />

<p>Picture from <%= @picture.user.username %>, uploaded on <%= @picture.created_at %></p>
<div class="col-md-8">
    <div class="panel panel-primary comments-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
            <div class="comment-area">
                <div class="form-group">
                    <%= form_for [current_user, @picture, @picture.comments.build], remote: true do |f| %>
                        <%= f.label :content %>
                        <%= f.text_area :content, class: 'form-control', autofocus: true %>

                        <br />
                        <%= f.submit "Save comment", class: 'btn btn-default' %>
                    <% end %>
                </div>

                <br />
                <h3>Other comments</h3>

                <div id="container-comments-container-wrapping-comments">
                  <%= render @picture.comments %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-primary comments-panel">
        <div class="panel-heading">
            <h3 class="panel-title">Votes</h3>
        </div>
        <div class="panel-body">
            <div class="vote-area">
                <%
                    disabled_class = @already_voted ? 'disabled' : ''
                    votes_count_class = @votes_count.negative? ? 'neg' : ''
                %>
                <%= link_to({
                        :action=>"create",
                        :controller=>"votes",
                        :user_id=>"#{current_user.id}",
                        :picture_id=>"#{@picture.id}",
                        :vote => {
                            type: 1
                        }
                    }, class: "btn btn-default #{disabled_class}", method: :post) do  %>
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                <% end %>

                <%= link_to({
                        :action=>"create",
                        :controller=>"votes",
                        :user_id=>"#{current_user.id}",
                        :picture_id=>"#{@picture.id}",
                        :vote => {
                            type: -1
                        }
                    }, class: "btn btn-default #{disabled_class}", method: :post) do  %>
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                <% end %>

                <span class="votes-count <%= votes_count_class %>">
                    <%= @votes_count.abs %>
                </span>
            </div>

            <br />
            <div>
                <% @picture.votes.each do |v| %>
                    <p><b><%= v.user.username %></b> gave <%= v.vote_type.to_i.positive? ? 'an upvote' : 'a downvote' %></p>
                <% end %>
            </div>
        </div>
    </div>

    <% if @is_owner %>
        <div class="panel panel-danger comments-panel">
            <div class="panel-heading">
                <h3 class="panel-title">Control</h3>
            </div>
            <div class="panel-body">
                <%= link_to('Delete this picture', {
                        :action=>"destroy",
                        :controller=>"pictures",
                        :user_id=>"#{@picture.user.id}",
                        :id=>"#{@picture.id}",
                    }, class: "btn btn-danger",
                    method: :delete, data: { confirm: "Do you really want to delete this picture?" })  %>
            </div>
        </div>
    <% end %>
</div>
